<p>add-edit-emp works!</p>
<div *ngFor="let dataItem of EmpList2">
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">ID</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value = "{{dataItem.id}}"> 
  </div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="dataItem.firstName">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="exampleInputLastName" [(ngModel)]="dataItem.lastName">
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="text" class="form-control" id="exampleInputEmail" [(ngModel)]="dataItem.email">
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mobile</label>
      <input type="text" class="form-control" id="exampleInputMobile" [(ngModel)]="dataItem.mobile">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>